h1 {
  font-size: 50px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 18px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-size: 15px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

input[type=submit] {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input[type=submit]:hover {
  background: #383;
}
body {
  background-color: white;
}
.background {
  background-color: lightskyblue;
}

input[type=text] {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}